{% include "navbar.html" %}

<div class="container text-center">
<div class="row">
  <div class="col-sm-3 well">
    <div class="well">
      <p><a href="#">Meu perfil</a></p>
      <img src="aluno.jpg" class="img-circle" height="65" width="65" alt="Avatar">
    </div>
    <div class="well">
      <p><a href="#">Disciplinas</a></p>
    </div>
    <div class="alert alert-success fade in">
      <a href="#" class="close" data-dismiss="alert" aria-label="fechar">×</a>
      <p><strong>Migue!!!</strong></p>
      Você tem tarefas atrasadas!
    </div>
    <p><a href="#">Pesquisar sobre metodologias agéis</a></p>
    <p><a href="#">Entrega do primeiro ponto de controle</a></p>
    <p><a href="#">Mandar email para o professor</a></p>
  </div>
  <div class="col-sm-7">
    <div class="list-group">
        <div class="well">
            <h4 class="list-group-item-heading">Suas informações</h4>
        </div>
      <div class="well">
        <h4 class="list-group-item-heading">Nome: {{student.name_student}}</h4>
        <h4 class="list-group-item-heading"><p>Matricula: {{student.registration_student}}</p></h4>
        <h4 class="list-group-item-heading"><p>Email: {{student.email_student}}</p></h4>
        <h4 class="list-group-item-heading"><p>Data de aniversario: {{student.age_of_birth_student}}</p></h4>
        <h4 class="list-group-item-heading">Gênero: {{student.gender_student}}</h4>
      </div>
    </div>
</div>
  {% include "task_sidebar.html" %}
</div>
</div>

<footer class="container-fluid text-center">
<p>PlanUP 2018</p>
</footer>

</body>
</html>
