{% include "navbar.html" %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<br><br>
<br><br>
<div class="container">
    <table class="table table-bordered">
      <thead>
        <tr>
            <th align="center">Código</th>
            <th align="center">Disciplina</th>
            <th align="center">Quantidade de Créditos</th>
            {% if user.username == "victor" %}
                <th align="center">Editar</th>
                <th align="center">Apagar</th>
            {% else %}
                <th align="center">Desejar Adicionar disciplina?</th>
            {% endif %}
        </tr>

        {% for subject in subjects %}
        <tr>
            <td align="center">{{subject.subject_code}}</td>
            <td align="center">{{subject.subject_name}}</td>
            <td align="center">{{subject.number_credits}}</td>
            {% if user.username == "victor" %}
                <td align="center"><a href="{% url 'update_subject' subject.id %}" class="btn btn-warning btn-block">Alterar</a></td>
                <td align="center"><a href="{% url 'delete_subject' subject.id %}" class="btn btn-danger btn-block">Deletar</a></td>
            {% else %}
                <td align="center"><a href="{% url 'adicionar_disciplina' subject.id%}" class="btn btn-success btn-block">Adicionar</a></td>
            {% endif %}
        </tr>
        {% endfor %}
      </thead>
    </table>
</div>